<footer>
    <div>
        © 2025 ArashM. Some Rights Reserved.
    </div>
    <!-- <div>
        <a href="https://github.com/CyanSpaghetti/">
            <img src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png" alt="Github.com logo" style="width:42px;height:42px;border-radius: 15%;filter: invert(1);">
        </a>
    </div>
    <div>
        <a href="https://CyanSpaghetti.itch.io">
            <img src="https://static.itch.io/images/itchio-textless-black.svg" alt="Itch.io logo" style="width:42px;height:42px;border-radius: 15%;filter: invert(0);">
        </a>
    </div> -->
</footer>