<aside class="left-sidebar">

    <div class="sidebar-section">
        <div class="sidebar-title">currently into:</div>
        <blockquote>
            <p>
                university & culture
            </p>
        </blockquote>
    </div>

    <div class="sidebar-section">
        <div class="sidebar-title">local time:</div>
        <blockquote>
            <p>
                <span id="local-time">loading…</span>
            </p>
        </blockquote>
    </div>

    <!-- <div class="sidebar-section">
                  <div class="sidebar-title">Section Title</div>
                  <ul>
                    <li>List</li>
                    <li>List</li>
                    <li><a href="/">List</a></li>
                    <li>List</li>
                  </ul>
                </div> -->

    <!-- replace these later -->
    <div class="sidebar-section">
        <div class="sidebar-title">blinkie box!</div>
        <marquee>
            <img src="https://neocities.org/img/heartcat.png" , height="24px">
            <img src="https://blinkies.cafe/b/display/0203-youtubelogo.gif" height="24px">
            <img src="https://blinkies.cafe/b/display/0114-tbh.gif" height="24px">
            <img src="https://blinkies.cafe/b/display/0028-computer.gif" height="24px">
            <img src="/images/blinkie-ilovemygf.gif" height="24px">
            <img src="https://blinkies.cafe/b/display/0072-lesbian.gif" height="24px">
            <img src="https://blinkies.cafe/b/display/0074-pan.gif" height="24px">
            <img src="https://blinkies.cafe/b/display/0202-pinterestlogo.gif" height="24px">
            <img src="https://blinkies.cafe/b/display/0121-blinkiescafe.gif" height="24px">
            <img src="https://blinkies.cafe/b/display/0033-confused.gif" height="24px">
            <img src="https://blinkies.cafe/b/display/0199-instagramlogo.gif" height="24px">
            <img src="https://blinkies.cafe/b/display/0029-pinksparkle.gif" height="24px">
            <img src="https://adriansblinkiecollection.neocities.org/a13.gif" height="24px">
            <img src="https://adriansblinkiecollection.neocities.org/e24.gif" height="24px">
            <img src="https://adriansblinkiecollection.neocities.org/e71.gif" height="24px">
            <img src="https://adriansblinkiecollection.neocities.org/g119.gif" height="24px">
            <img src="https://adriansblinkiecollection.neocities.org/g35.gif" height="24px">
            <img src="https://adriansblinkiecollection.neocities.org/k15.gif" height="24px">
            <img src="https://adriansblinkiecollection.neocities.org/x16.gif" height="24px">
            <img src="https://adriansblinkiecollection.neocities.org/y39.gif" height="24px">
            <img src="https://adriansblinkiecollection.neocities.org/z13.gif" height="24px">
            <img src="https://adriansblinkiecollection.neocities.org/10.gif" height="24px">
            <img src="https://adriansblinkiecollection.neocities.org/y8.gif" height="24px">
            <img src="https://adriansblinkiecollection.neocities.org/x43.gif" height="24px">
            <img src="https://adriansblinkiecollection.neocities.org/x11.gif" height="24px">
            <img src="https://adriansblinkiecollection.neocities.org/q32.gif" height="24px">
            <img src="https://adriansblinkiecollection.neocities.org/x5.gif" height="24px">
            <img src="https://adriansblinkiecollection.neocities.org/l8.gif" height="24px">
            <img src="https://adriansblinkiecollection.neocities.org/v99.gif" height="24px">
            <img src="https://adriansblinkiecollection.neocities.org/v77.gif" height="24px">
            <img src="https://adriansblinkiecollection.neocities.org/v1.gif" height="24px">
            <img src="https://adriansblinkiecollection.neocities.org/e77.gif" height="24px">
            <img src="https://adriansblinkiecollection.neocities.org/e65.gif" height="24px">
            <img src="https://adriansblinkiecollection.neocities.org/e73.gif" height="24px">
            <img src="https://adriansblinkiecollection.neocities.org/d48.gif" height="24px">
            <img src="https://adriansblinkiecollection.neocities.org/c62.gif" height="24px">
            <img src="https://blinkies.cafe/b/display/0080-genderfluid.gif" height="24px">
        </marquee>
    </div>

    <!-- <div class="sidebar-section">
                  <div class="sidebar-title">Section Title</div>
                  <img class="full-width-image" src="https://picsum.photos/id/10/1000/400">
                </div>
                
                <div class="sidebar-section">
                  <div class="sidebar-title">Section Title</div>
                  <div class="site-button">
                  	<a href="https://petrapixel.neocities.org/" target="_blank"><img src="https://cdn.jsdelivr.net/gh/petracoding/petrapixel.neocities.org@latest/public/img/linkback.gif" alt="petrapixel"></a>
                	<textarea><a href="https://petrapixel.neocities.org/" target="_blank"><img src="https://cdn.jsdelivr.net/gh/petracoding/petrapixel.neocities.org@latest/public/img/linkback.gif" alt="petrapixel"></a></textarea>
                  </div>
                </div> -->
</aside>
